spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/orderdb
    username: postgres
    password: postgres

  kafka:
    bootstrap-servers: kafka:29092

  jpa:
    hibernate:
      ddl-auto: update